<div class="post-blog">
<h3>If you liked this you can <a href="https://ko-fi.com/wo1fjay">tip me a few dollars here 😌✨</a></h3>
<p>You can also <a href="https://blog.wolfjay.com/about/">listen to my music on streaming services</a>,<br> or <a href="https://wolfjay.bandcamp.com">buy it on bandcamp</a>! For context, every single sale of my discography on Bandcamp is equal in income for me as a song being streamed 5,000 times on Spotify (that's over 250 hours of listening!).</p>
<p>I'd also love it if you shared my work with someone you think might also like it! I'm an unsigned, self-funded, independent artist, so I appreciate any support of my work SO much! tysm</p>
</div>